.schedule-container {
  position: relative;
  margin: 0 44px;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
  background-color: white;
}

.schedule-container h1 {
  color: #000;
  margin-bottom: 44px;
}

.invisible {
  visibility: hidden;
}