.schedule-container {
  position: relative;
  margin: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 44px 44px 33px 0;
}

.schedule-container h1 {
  color: #000;
  margin: 0 44px 44px;
}

.invisible {
  visibility: hidden;
}