.time-slots {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 286px;
    background-color: #F4F4F4;
    gap: 12px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.time-slots::-webkit-scrollbar {
    display: none; /* chrome based browsers */
}

.active {
    background-color: #D8D8D8;
}

.time-slot {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ff69b4;
    padding: 11px;
    text-align: center;
    color: #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    cursor: pointer;
}

.time-slot:hover {
    background-color: #fff0f7;
    border-color: #ff45a4;
}

.time-slot.selected {
    color: #E11BB6;
    border-color: #E11BB6;
}

.time-slot-text {
    flex: 1;
}

.time-slot-remove {
    padding-bottom: 2px;
    visibility: hidden;
}

.time-slot:hover .time-slot-remove {
    visibility: visible;
}

.time-slot-remove:hover {
    transform: scale(1.5);
}

.time-input {
    border: 1px solid #ff45a4;
    padding: 11px;
    text-align: center;
    color: #E11BB6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    cursor: text;
    font: inherit;
    font-size: 16px;
    max-width: inherit;
}

.add-time {
    padding: 11px;
    text-align: center;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #5C5C5C;
    cursor: pointer;
}