.calendar {
  display: flex;
  gap: 12px;
  margin: 28px 0 0 44px;
  height: 412px;
  background-color: white;
  align-content: flex-start;
}

.calendar-empty {
  background-color: transparent;
  border: none;
}

.day-header {
  text-align: center;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.day-name,
.day-date {
  color: #000;
}

.day-name {
  font-weight: bold;
}

.day-column {
  min-width: 160px;
  background-color: white;
  flex-direction: column;
}

.day-column:not(:first-child) {
  background-color: transparent;
}