.actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 37px;
}

.btn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
  width: 160px;
  height: 48px;
}

.reset { background-color: #333; }
.autocomplete { background-color: #E11BB6; }
.upload { background-color: #999; }
