.footer {
  display: flex;
  margin-top: 37px;
  justify-content: space-between;
}

.actions {
  display: flex;
  gap: 12px;
}

.validation {
  margin-left: 44px;
  color: red;
}

.btn {
  padding: 10px 20px;
  border: none;
  color: white;
  font-weight: bold;
  width: 160px;
  height: 48px;
}

.pointer {
  cursor: pointer;
}

.active-p { background-color: #E11BB6; }
.disabled-p { background-color: #E11BB64D; }

.active-b { background-color: #333; }
.disabled-b { background-color: #999; }
